.sidebar-list {
    overflow-x: visible;
    overflow-y: scroll;
    height: calc(100vh - 2rem);

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar-list::-webkit-scrollbar { 
    display: none;
}

.tag-display {
    height: 30px;
    left: 50px;
}

.sidebar-hide {
    left: -64px;
}

.rotation {
    transform: rotate( -180deg );
}