<div class="relative transition-all left-0 flex h-screen w-24 md:w-16 flex-col justify-between bg-gray-800 z-10"
    [ngClass]="{'max-md:-left-24': !openSidebar}"
>
    <!-- Sidebar Open Button -->
    <div class="absolute md:hidden left-24 top-1 transition-all cursor-pointer hover:translate-x-1 select-none text-white"
    (click)="openSidebar = !openSidebar">
        <ion-icon [ngClass]="{'rotation': openSidebar}" class="text-4xl md:text-xl transition" name="chevron-forward"></ion-icon>
    </div>

    <!-- Navigation -->
    <div>
        <nav class="sidebar-list flex flex-col gap-3 mt:gap-1 pt-2 items-center">
            <sidebar-group
                *ngFor="let button of buttons; let i = index"
                id='button{{i}}'
                (mouseover)="displayTag=true; currentTag = button; getTagPosition(i)"
                (mouseleave)="displayTag=false"
            ></sidebar-group>
        </nav>
    </div>

    <!-- Options -->
    <div class="sticky inset-x-0 bottom-0 border-t border-gray-900 bg-gray-800 p-2 z-10">
        <form action="/logout">
            <button type="submit"
                class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm text-gray-300 hover:text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 md:h-5 md:w-5 opacity-75" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>

                <span
                    class="absolute left-full top-1/2 ml-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium text-white opacity-0 group-hover:opacity-100">
                    Settings
                </span>
            </button>
        </form>
    </div>

    <!-- Tag -->
    <div class="flex items-center h-16 md:h-10 tag-display absolute ml-12 md:ml-4 z-10"
        [style.top]="currentTagY">
        <span
            *ngIf="displayTag"
            class="h-8 rounded bg-gray-800 px-2 py-1.5 w-max text-sm md:text-xs font-medium text-white">
            {{ currentTag }}
        </span>
    </div>
</div>
