<div class="relative transition-all left-0 flex h-screen w-24 md:w-16 flex-col justify-between bg-gray-700 z-10"
    [ngClass]="{'max-md:-left-24': !openSidebar}"
>
    <!-- Sidebar Open Button -->
    <div class="absolute md:hidden left-24 top-1 transition-all cursor-pointer hover:translate-x-1 select-none text-white"
    (click)="openSidebar = !openSidebar">
        <ion-icon [ngClass]="{'rotation': openSidebar}" class="text-4xl md:text-xl transition" name="chevron-forward"></ion-icon>
    </div>

    <!-- Navigation -->
    <div>
        <nav class="sidebar-list flex flex-col pt-2 items-center">
            <app-sidebar-group
                *ngFor="let group of groups; let i = index"
                id='button{{i}}'
                (mouseover)="displayTag=true; currentTag = group.name; getTagPosition(i)"
                (mouseleave)="displayTag=false"
                (click)="changeGroup(i)"
                [selected]="currentGroup === i"
            ></app-sidebar-group>
        </nav>
    </div>

    <!-- Options -->
    <div class="sticky inset-x-0 bottom-0 border-t border-gray-800 bg-gray-700 p-2 z-10">
        <form action="/logout">
            <div
                (click)="openSettings.emit()"
                class="group relative flex w-full justify-center rounded-lg px-2 py-1.5 text-sm 
                    cursor-pointer text-white hover:scale-110">
                <ion-icon class="text-xl" name="settings"></ion-icon>

                <span
                    class="absolute left-full top-1/2 ml-4 -translate-y-1/2 rounded bg-gray-900 px-2 py-1.5 text-xs font-medium
                    text-white hidden group-hover:inline-block border-gray-300 border select-none">
                    Settings
                </span>
            </div>
        </form>
    </div>

    <!-- Tag -->
    <div class="flex items-center h-20 md:h-14 tag-display absolute ml-14 md:ml-5 z-10"
        [style.top]="currentTagY">
        <span
            *ngIf="displayTag"
            class="h-8 rounded bg-gray-900 px-2 py-1.5 w-max text-sm md:text-xs font-medium text-white border
            select-none border-gray-300">
            {{ currentTag }}
        </span>
    </div>
</div>
