# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules/

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/

# Miscellaneous
/GroupchatUI/.angular/cache
testem.log
/typings
Thumbs.db

# ASP.NET
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc