<router-outlet></router-outlet>

Users:
<table>
  <thead>
    <th>UserId</th>
    <th>Username</th>
    <th>Password</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.password }}</td>
    </tr>
  </tbody>
</table>

Groups:
<table>
  <thead>
    <th>GroupId</th>
    <th>Name</th>
    <th>Password</th>
    <th>Admin</th>
    <th>Participants</th>
    <th>Messages</th>
  </thead>
  <tr *ngFor="let group of groups">
    <td>{{ group.id }}</td>
    <td>{{ group.name }}</td>
    <td>{{ group.password }}</td>
    <td>{{ group.admin?.username }}</td>
    <td>
      <span *ngFor="let participant of group.participants">{{ participant.username }}, </span>
    </td>
    <td>
      <span *ngFor="let message of group.messages">{{ message.content }}, </span>
    </td>
  </tr>
</table>