<div class="relative">
    <div class="holder flex flex-col-reverse p-4 gap-4 h-full w-full overflow-y-scroll scroll-smooth"
        (scroll)="onScroll()">
        <app-single-message
            *ngFor="let message of messages; let i = index"
            [content]="message"
            [left]="getLeft(i)"
            [name]="'Name'"
            ></app-single-message>
    </div>

    <div class="bt-shadow absolute bottom-0 w-full h-1/6 opacity-100"
        [style.opacity]="atBottom ? 0 : 1"
        [ngClass]="{'cursor-pointer hover:!opacity-60': !atBottom}"
        (click)="resetScroll()"
    ></div>

    <!-- Load More Messages Button -->
    <div class="absolute mx-auto left-1/2 -translate-x-1/2 top-4 border border-gray-600 w-1/4 md:w-1/12 h-8 bg-gray-700
    text-white text-4xl flex justify-center items-center rounded-lg cursor-pointer transition-all hover:scale-110"
        *ngIf="atTop && loadedMessages < messagesDb.length"
        (click)="loadMoreMessages()">...</div>
</div>