.holder {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 93vh;
}

.holder::-webkit-scrollbar {
    display: none;
}

.bt-shadow {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.6) 100%); transition: 0.3s;
}